/*colors
#42506B Gris
#E9E9EB Blanco
---------------
#232F34 OSCURO
#344955 MEDIO OSCURO
#4A6572 MEDIO
#F9AA33 AMARILLO
*/

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

@media screen and (max-width: 700px) {
    .menu ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 60px;
    }
    .footer ul li {
        display: inline-block;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 60px;
    }
}

body{
    background-color:#E9E9EB;
}

/*Navbar*/
.menu {
    text-align: center;
    background-color: #344955;
}
.menu ul li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
}
.menu ul li a{
    text-decoration: none;
    color: white; 
}
.menu ul li:hover{
    background-color: #F9AA33;
    opacity: 1;
    transition: 2s;
}
/*Logo*/
.menu__logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #344955;
    flex-wrap: wrap;
}
/*Search Bar*/
.menu__logo .search__bar{
    width: 250px;
    height: 40px;
    background-color:#E9E9EB;
    border: 2px solid #F9AA33;
    border-radius: 5px;
    margin: 0 10px;
}
.menu__logo .search__bar__btn{
    width: 60px;
    height: 40px;
    background-color: #F9AA33;
    color: #E9E9EB;
    border: 0px solid #F9AA33;
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px;
}
.menu__logo .search__bar__btn:hover{
    background-color: #232F34;
    opacity: 1;
    transition: 2s;
}
.img__logo{
    width: 100px;
}

/*Hello*/
.greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 5px;
}  

/*Categories*/
.category__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.category__item div{
    margin-bottom: 100px;
    padding: 10px 15px;
    margin: 10px 30px;
    max-width: 350px;
    background-color:#F9AA33;
    color: #E9E9EB;
    border: 1px solid #F9AA33;
    border-radius: 5%;
}
.category__item div:hover{
    background-color: #232F34;
    border: 1px solid #232F34;
    opacity: 1;
    transition: 1s;
}
.category__item div a{
    text-decoration: none;
    color: white; 
}

/*CardItem*/
.item__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.card__item{
    padding: 10px 15px;
    margin: 10px 30px;
    max-width: 350px;
    background-color: white;
    border: 1px solid #E9E9EB;
    border-radius: 3%;
}
.card__item:hover{
    box-shadow: 2px 2px 6px 2px #F9AA33;
    transition: 1s;
}
.card__item img{
    width: 100%;
}
.card__item h3{
    padding: 10px 20px;
}
.card__item p{
    font-weight: 300;
}

/*Details*/
.item__detail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.card__item__detail{
    padding: 10px 15px;
    margin: 10px 30px;
    max-width: 600px;
    background-color: white;
    border: 1px solid #E9E9EB;
    border-radius: 3%;
}
.card__item__detail:hover{
    box-shadow: 2px 2px 6px 2px #F9AA33;
    transition: 1s;
}
.card__item__detail img{
    width: 100%;
}
.card__item__detail h3{
    padding: 10px 20px;
}
.card__item__detail p{
    font-weight: 300;
}

/*ItemCounter*/
.item__counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.item__counter button{
    padding: 10px;
    background-color: #232F34;
    color: #E9E9EB;
    border: 0px;
}
.item__counter button:hover{
    background-color: #F9AA33;
    opacity: 1;
    transition: 2s;
}
.item__counter div{
    margin: 10px;
    padding: 10px;
}

/*Footer*/
.footer {
    text-align: center;
    background-color: #344955;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-top: 50px;
}
.footer ul li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
}
.footer ul li a{
    text-decoration: none;
    color: white; 
}
.footer ul li a:hover{
    color: #F9AA33;
    opacity: 1;
    transition: 2s;
}
.footer .copy{
    font-size: 10px;
    color: white; 
    margin: 5px;
    text-align: right;
}
